<p>Gestor de Tareas</p>


<div>
  <h2>Lista de Tareas</h2>


  <!--Formulario-->  
  <form [formGroup]="taskForm" (ngSubmit)="addNewTask()"> 
    <input  type="text" 
      formControlName="newTask" 
      placeholder="Escribe una tarea" 
  />

  <button type="submit" [disabled]="taskForm.invalid">Agregar tarea</button>  

  <!--Formulario-->  
  <div class="validar" *ngIf="taskForm.get('newTask')?.invalid && taskForm.get('newTask')?.touched">
      <small *ngIf="taskForm.get('newTask')?.hasError('required')">Llena el campo con una tarea</small>
      <small *ngIf="taskForm.get('newTask')?.hasError('minlength')">La tarea debe tener al menos 5 caracteres.</small>
  </div>
  </form>

  
  <div *ngFor="let task of tasks; let i = index">

    <div *ngIf="editIndex === i; else showTask">
      <input [(ngModel)]="taskToEdit" />
      <button (click)="onEditTask(i)">Guardar</button>
    </div>

    <ng-template #showTask>
      <a [routerLink]="['/tareas', i]" style="text-decoration: none;"></a>
    <app-task-item 
      [task]="task.task"
      [completed]="task.completed"
      (taskCompleted)="onTaskCompleted(i)">
    </app-task-item>

    <button (click)="onEditStart(i, task.task)">Editar</button>
    <button (click)="onDeleteTask(i)">Eliminar</button>

    </ng-template>
  </div>
</div>
